@import "compass/reset";

$main-color: white;

body {
	height:100%;
	background-color: $main-color;
}

.main {
	font-family: Segoe UI, Verdana, Arial;

	.footer-area {
		padding-top: 48px;
	}

	.jumbotron {	
		text-align: center;
	}
}

.logo {
	background-image: url("../../assets/img/temple-small.png");
	background-repeat: no-repeat;
	height: 50px;
	width: 217px;
}     

[class*="-img"] {
	cursor: pointer;
}

.info {
	background-color: white;
}

.info-header{
	font-size: 1.2em;
}

.routine-img {
	background-image: url("../../assets/img/routine.png");
	background-repeat: no-repeat;
	height: 32px;
	width: 32px;
	float: left;
	margin-top: 10px;
}

.pattern-img {
	background-image: url("../../assets/img/pattern.png");
	background-repeat: no-repeat;
	height: 32px;
	width: 32px;
	float: left;
	margin-top: 10px;
}

.settings-img {
	background-image: url("../../assets/img/settings.png");
	background-repeat: no-repeat;
	height: 32px;
	width: 32px;
	float: left;
	margin-top: 10px;
}

.weights-img {
	background-image: url("../../assets/img/weightlifting.png");
	background-repeat: no-repeat;
	height: 48px;
	width: 48px;
	float: left;
	margin-left: 10px;
}

.navbar {
	border-radius: 0;
}

.container .jumbotron {
	border-radius: 0;
}

.navbar-nav {
	li {
		a {
			float: left;
			cursor: pointer;
		}
	}
}

.navbar-default .navbar-brand {
	font-size: 1.5em;
}


