<!DOCTYPE html>
<html data-ng-app="ironTemple">
<head>

  <link href="../sass/stylesheets/site.css" rel="stylesheet" type="text/css"/>
	<link href="../components/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link rel="icon" type="image/png" href="../assets/img/iron-icon.png">
	<title>Welcome to the Iron Temple</title>
</head>
<body>
<div class="main">
      <!-- Static navbar -->
      <div class="navbar navbar-default" data-ng-controller="navController">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="weights-img"></span>
          <div class="navbar-brand">Iron Temple</div>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><span class="routine-img"></span><a href="#">Routines</a></li>
            <li><span class="pattern-img"></span><a href="#">Patterns</a></li>
            <li><span class="settings-img" data-ng-click="userSetup()"></span><a href"#" data-ng-click="userSetup()">Setup</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button data-toggle="modal" href="#myModal" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.nav-collapse -->
      </div>

      <div class="jumbotron">
      	<div class="container">
      		<div id="view" ng-view>
      		</div>
      	</div>
      </div>

      <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2 class="info-header">Routines</h2>
          <p>Routines allow you to group together exercises into one workout. You can save, modify and assign sets are exercises into one routine ready to be integrated into your chosen pattern.</p>
          <p><a class="btn btn-default" href="#">Routines &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2 class="info-header">Patterns</h2>
          <p>Patterns give you the ability to organise your routines over many weeks or months. You can repeat routines, randomise, and set rest days in between.</p>
          <p><a class="btn btn-default" href="#">Patterns &raquo;</a></p>
       </div>
        <div class="col-lg-4">
          <h2 class="info-header">Setup</h2>
          <p>Setup is your go to place for creating new workouts, exercises, routines and patterns</p>
          <p><a class="btn btn-default" href="#">Setup &raquo;</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <h2 class="info-header">Body Weight Tracking</h2>
          <p>Enter your current weight as and when you can do get a detailed run down as well as accurate graphs of your weight change over time </p>
          <p><a class="btn btn-default" href="#">Body Weight Tracking &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2 class="info-header">Weight Tracking</h2>
          <p>Takes information from all your various workouts to see how your strength has changed over time.</p>
          <p><a class="btn btn-default" href="#">Weight Tracking &raquo;</a></p>
        </div>
      </div>
    </div>

    <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Our survey says...</h4>
        </div>
        <div class="modal-body">
          You have successfully signed in.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Ok!</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="footer-area">
      <div class="container">
        <p class="text-muted credit">Created by Christian Baverstock and Luke Jones. Praise Brodin.</p>
      </div>
    </div>
</div>

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="../components/angular/angular.min.js"></script>
<script type="text/javascript" src="./iron-temple/01-application/ironTemple.js"> </script>
<script type="text/javascript" src="./iron-temple/03-controllers/homepageController.js"> </script>
<script type="text/javascript" src="./iron-temple/03-controllers/userSetupController.js"> </script>
<script type="text/javascript" src="./iron-temple/03-controllers/navController.js"> </script>
<script type="text/javascript" src="./iron-temple/04-services/userService.js"> </script>
<script type="text/javascript" src="../components/bootstrap/js/bootstrap.min.js"></script>
</body>
</html> 
