
      <div class="jumbotron">
      	<h1>Welcome to the Iron Temple.</h1>
          <p>A web based exercise and weight tracker just for you, brah.</p>
          <p>Get started by creating a new routine or <a data-toggle="modal" href="#myModal">sign in</a> to continue from where you left off.</p>
      </div>
<div class="container info">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2 class="info-header">Routines</h2>
          <p>Routines allow you to group together exercises into one workout. You can save, modify and assign sets are exercises into one routine ready to be integrated into your chosen pattern.</p>
          <p><a class="btn btn-default" href="#">Routines &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2 class="info-header">Patterns</h2>
          <p>Patterns give you the ability to organise your routines over many weeks or months. You can repeat routines, randomise, and set rest days in between.</p>
          <p><a class="btn btn-default" href="#">Patterns &raquo;</a></p>
       </div>
        <div class="col-lg-4">
          <h2 class="info-header">Setup</h2>
          <p>Setup is your go to place for creating new workouts, exercises, routines and patterns</p>
          <p><a class="btn btn-default" href="#/UserSetup">Setup &raquo;</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <h2 class="info-header">Body Weight Tracking</h2>
          <p>Enter your current weight as and when you can do get a detailed run down as well as accurate graphs of your weight change over time </p>
          <p><a class="btn btn-default" href="#">Body Weight Tracking &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2 class="info-header">Weight Tracking</h2>
          <p>Takes information from all your various workouts to see how your strength has changed over time.</p>
          <p><a class="btn btn-default" href="#">Weight Tracking &raquo;</a></p>
        </div>
      </div>
    </div>