<div class="row-fluid">
	<div class="span4">
		<h3>New Routine</h3>
	</div>
</div>
<div class="row-fluid">
	<div class="span4">
	<p>Add to routine</p>
	</div>
</div>
<div class="row-fluid">
	<div class="row-fluid">
		<div class="span4">
			<input type="text" name="exerciseName" data-ng-model="exerciseName" placeholder="Exercise name"/>
		</div>
		<div class="span1 offset4">
			<input type="number" min=0 name="exerciseQuantity" data-ng-model="exerciseQuantity" placeholder="Quantity"/>
		</div>
		<div class="span1 offset5">
			<select data-ng-model="exerciseUnit">
				<option selected>Select a unit</option>
				<option>Reps</option>
				<option>Minutes</option>
				<option>Meters</option>
				<option>Calories</option>
			</select>
		</div>
		<div class="span1">
			<input type="number" data-ng-model="exerciseSets" name="exerciseSets" data-ng-show="showSets()" placeholder="Sets"/>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span1">
			<button data-ng-click="addExercise()">Add to Routine</button>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span4">
		<p>Current routine</p>
	</div>
</div>
<div class="row-fluid">
	<div class="span10">
	<ul id="currentRoutine">
		<li data-ng-repeat="exercise in routine">{{exercise.Name}}  {{exercise.Quantity}} {{exercise.Unit}} {{exercise.Sets}}</li>
	</ul>
	</div>
</div>	
	
