<div class="row">
	<div class="col-md-4">
		<h3>New Routine</h3>
	</div>
</div>
<div class="row">
	<div class="col-md-1">
		<p>Name</p>
	</div>
	<div class="col-md-3">
		<input type="text" name="routineName" data-ng-model="routineName" />
	</div>
</div>
<div class="row">
	<div class="col-md-4">
	<h3>Add New Exercise</h3>
	</div>
</div>
<form name="routineForm">
	<div class="row">
		<div class="col-md-3">
			<input type="text" name="exerciseName" data-ng-model="exerciseName" placeholder="Exercise name" required/>
		</div>
		<div class="col-md-3">
			<input type="number" min=0 name="exerciseQuantity" data-ng-model="exerciseQuantity" placeholder="Quantity" required/>
		</div>
		<div class="col-md-3">
			<select data-ng-model="exerciseUnit" required>
				<option selected>Select a unit</option>
				<option>Reps</option>
				<option>Minutes</option>
				<option>Meters</option>
				<option>Calories</option>
			</select>
		</div>
		<div class="col-md-3">
			<input type="number" data-ng-model="exerciseSets" name="exerciseSets" data-ng-show="exerciseUnit =='Reps'" placeholder="Sets"/>
		</div>
	</div>
	<div class="row add-exercise">
		<div class="col-md-2">
			<button class="btn btn-primary" data-ng-click="addExercise()">Add to Routine</button>
		</div>
	</div>
</form>
</br>
<div class="row">
	<div class="col-md-4">
		<p>Current routine</p>
	</div>
</div>
<div class="row">
	<div class="col-md-10">
	<ul id="currentRoutine">
		<li data-ng-repeat="exercise in routine.Exercises">
			<col-md->{{exercise.Name}}: </col-md-><col-md->{{exercise.Quantity}} </col-md-><col-md->{{exercise.Unit}} </col-md-><col-md- ng-show="exercise.Sets > 0">for {{exercise.Sets}} sets</col-md->
		</li>
	</ul>
	</div>
</div>
<div class="row">
	<div class="col-md-2">
	<button class="btn btn-primary" data-ng-show="routine.Exercises.length > 0" data-ng-click="saveRoutine()">Save</button></div>
</div>
